
@{
    ViewBag.Title = "Головна сторінка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="mainSection">
        <div class="sectionHeader">
            <div class="backgroundImage"></div>
            <h1>To do list - плануйте своє життя!</h1>
        </div>
        <div class="toDoButton">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Перейти до моїх справ!", "Index", "Tasks", null, new { })
            }
        </div>
        <p class="star">★★★★★</p>
        <p>
            Тепер вам не потрібно довго та нудно шукати стікери та ручку, щоб записати свої справи на завтра.
            <br>А якщо їх втратите? Неприємно! Або в найбільш несподіваний час сталася пожежа і всі ваші записи згоріли?
            Взагалі жах! Саме для таких випадків було створено цей он-лайн сайт!
        </p>
        <hr>
        <p>
            Так от, чому краще скористатися нашим сайтом?
        </p>
        <hr>
        <ul class="centerList">
            <li>Це зручно! Згадайте як багато разів ви губили різноманітні листочки з записами.</li>
            <li>
                Доступно в будь-який момент часу і будь де! Не потрібно носити з собою пачки бумаг,
                адже тепер ви можете планувати своє життя з телефона, комп'ютера або ноутбука.
            </li>
            <li>
                Це безпечно! Тепер вам не варто турбуватися про те, що ваш товариш по роботі прочитає ваші плани
                на завтра і зруйнує їх!<br>
                Адже наш сервіс є повністю анонімним і не розголошує інформацію про своїх користувачів навіть СБУ!
            </li>
        </ul>
    </section>
